<%- contentFor('body') %>
    <section class="clearfix pokemon-card">
        <article class="pokemon-data" style="overflow: visible;">
            <h2>Login</h2>
            <% if (typeof message !== 'undefined') { %>
                <%= message %>
            <% } %>
            <form method="post" action="/login">
                <div class="row">
                    <div class="col-md-12 input-box">
                        <i class="material-icons">email</i>
                        <input type="text" name="email" class="form-control" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 input-box">
                        <i class="material-icons">lock</i>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                </div>
                <div class="submit-box">
                    <input type="submit" value="Login">
                </div>
            </form>
        </article>
        <article class="pokemon-thumbnail form-thumbnail"  style="background: url('/images/form_background.gif');"></article>
    </section>